---
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading";
import { Image } from "astro:assets";
import { Text, Flex, Theme, Section, Box } from "@radix-ui/themes";
import { ArrowDownIcon } from "@radix-ui/react-icons";

// Portfolio images
import lifecoaching from "../assets/portfolio/life-coaching.png";
import makeandmind from "../assets/portfolio/make-and-mind.png";
import folkshomepage from "../assets/portfolio/folks-homepage.png";
import folksdirectory from "../assets/portfolio/folks-directory.png";
import tedxjourneys from "../assets/portfolio/tedx-journeys.png";
import { InnerSection } from "../components/InnerSection";
import { MainGrid } from "../components/MainGrid";
import {
    KeyServicePoints,
    KeyServicePoint,
} from "../components/KeyServicePoints";
import { ButtonLink } from "../components/ButtonLink";
---

<Layout backgroundColor="var(--yellow-5)">
    <!-- Hero Section -->
    <Flex direction="column" gap="4" slot="heading">
        <PageHeading>
            Deliberately simpler web design and development
        </PageHeading>
        <Box display={{ initial: "block", sm: "none" }}>
            <Text size="3" weight="regular" as="p">
                For independent businesses & freelancers
            </Text>
        </Box>
    </Flex>
    <Box slot="role" display={{ initial: "none", sm: "block" }}>
        <Text size="3" weight="medium" as="p">
            Best for independent businesses, freelancers, and non-profits
        </Text>
    </Box>
    <Flex slot="description" direction="column" gap="4">
        <Text size="3">
            <p>
                The typical website-building project comes with layers that
                don't serve you, baked with more people, more revisions, and
                more cost than necessary.
            </p>
            <p>I got none of that for you.</p>
        </Text>
        <ButtonLink
            size="3"
            variant="soft"
            color="gray"
            href="#what-was-removed"
            style={{ alignSelf: "start" }}
        >
            Scroll to learn more <ArrowDownIcon />
        </ButtonLink>
    </Flex>

    <!-- Page Content -->
    <Theme
        slot="page-content"
        appearance="light"
        accentColor="yellow"
        grayColor="olive"
        radius="none"
        scaling="97%"
        panelBackground="solid"
        asChild
    >
        <Section
            size="1"
            py="4"
            px={{ initial: "4", sm: "6" }}
            style={{
                backgroundColor: "var(--yellow-3)",
                overflow: "hidden",
            }}
        >
            <Flex gap="4" justify="center" align="center">
                <Image
                    src={lifecoaching}
                    alt="Life Coaching Project"
                    class="portfolio-image"
                    quality={80}
                    format="webp"
                    widths={[400, 600, 800]}
                    sizes="(max-width: 768px) 40vw, 20vw"
                />
                <Image
                    src={makeandmind}
                    alt="TC Baffles"
                    class="portfolio-image"
                    quality={80}
                    format="webp"
                    widths={[400, 600, 800]}
                    sizes="(max-width: 768px) 40vw, 20vw"
                />
                <Image
                    src={folkshomepage}
                    alt="Make & Mind"
                    class="portfolio-image"
                    quality={80}
                    format="webp"
                    widths={[400, 600, 800]}
                    sizes="(max-width: 768px) 40vw, 20vw"
                />
                <Image
                    src={folksdirectory}
                    alt="Folks Directory"
                    class="portfolio-image"
                    quality={80}
                    format="webp"
                    widths={[400, 600, 800]}
                    sizes="(max-width: 768px) 40vw, 20vw"
                />
                <Image
                    src={tedxjourneys}
                    alt="TEDx Journeys"
                    class="portfolio-image"
                    quality={80}
                    format="webp"
                    widths={[400, 600, 800]}
                    sizes="(max-width: 768px) 40vw, 20vw"
                    style={{ objectPosition: "top" }}
                />
            </Flex>
        </Section>
        <Box
            id="what-was-removed"
            style={{
                backgroundColor: "var(--gray-1)",
                overflow: "hidden",
            }}
        >
            <MainGrid>
                <InnerSection title="What I've taken out">
                    <KeyServicePoints>
                        <KeyServicePoint heading="No agency overhead">
                            Agencies employ account managers, devs, and
                            designers who can delay the process and raise costs.
                            Here you talk to me, I do the work. Which means
                            decisions happen faster and what you save stays in
                            your pocket.
                        </KeyServicePoint>

                        <KeyServicePoint heading="No false promises">
                            I won't promise to "transform your brand" or "10x
                            your conversions." All I do is I craft sites that
                            load quickly, explain what you do, and won't
                            embarrass your brand.
                        </KeyServicePoint>

                        <KeyServicePoint heading="No dark patterns">
                            That means no privacy-aggressive or manipulative
                            design. Fewer pop-up banners and autoplaying videos.
                            You can trust your visitors will be respected.
                        </KeyServicePoint>
                    </KeyServicePoints>
                </InnerSection>
                <Flex />
            </MainGrid>
        </Box>
    </Theme>
</Layout>
